@mixin overflow($sumbu: false, $screen: false) {
    $prefix: "";
    @if $screen != false {
        $prefix: $screen + "\\:";
    }

    $overflow: (auto, hidden, scroll, visible) !default;

    @if $sumbu == false {
        @each $overflow in $overflow {
            .#{$prefix}overflow-#{$overflow} {
                overflow: $overflow;
            }
        }
    } @else {
        @if $sumbu == x {
            @each $overflow in $overflow {
                .#{$prefix}overflow-x-#{$overflow} {
                    overflow-x: $overflow;
                }
            }
        }
        @if $sumbu == y {
            @each $overflow in $overflow {
                .#{$prefix}overflow-y-#{$overflow} {
                    overflow-y: $overflow;
                }
            }
        }
    }
}

@include overflow();

@include overflow($sumbu: x);
@include overflow($sumbu: y);

@each $key, $value in $breakpoints {
    @include screen($key) {
        @include overflow($screen: $key);

        @include overflow($sumbu: x, $screen: $key);
        @include overflow($sumbu: y, $screen: $key);
    }
}
